# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log

public/all.js
public/react.js
public/react.min.js
public/react-dom.js
public/react-dom.min.js
src/Glazier.js